<!DOCTYPE html>
<html ng-app="userProfiles">

<head>
  <meta charset="utf-8">
  <title>mini-userProfiles</title>
  <link rel="stylesheet" href="dev/styles.css"></link>
</head>

<body ng-controller="mainCtrl">

  {{thisAppIsBroken}}
  <!-- {{users.$$state.value}} -->
  <div class="userProfiles">
    <ul>
      <div ng-repeat="user in users.$$state.value" ng-class="{favorite: user.isFavorite}">
        <img ng-src="{{user.avatar}}"> <span>{{user.first_name}} {{user.last_name}}</span>
        <button type="button"  ng-click="toggleFavorite(user.id);">Toggle Favorite</button>
      </div>
      
    </ul>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <script src="./dev/app.js"></script>
  <script src="./dev/controller.js"></script>
  <script src="./dev/svc.js"></script>
</body>

</html>